table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

th {
    background-color: #b03a2e;
    color: white;
    padding: 10px;
    height: 50px;
}

td {
    padding: 10px;
    border: 1px solid #ddd;
    height: 50px;
}

thead th:nth-child(2){
    background-color: #E5B8B7;
}

thead th:nth-child(3) {
    background-color: #D99594;
}

thead th:nth-child(4) {
    background-color: #943634;
}

thead th:nth-child(5) {
    background-color: #632423;
}
tbody tr th:first-of-type{
    background-color: #b03a2e;
}
tr th:first-of-type{
    background-color: #F2DBDB;
}
tbody tr th:nth-child(2),
th:nth-child(3),
th:nth-child(4),
th:nth-child(5){
    background-color: #E5B8B7;
}

tbody tr + tr th:nth-child(2),
tbody tr + tr th:nth-child(3),
tbody tr + tr th:nth-child(4),
tbody tr + tr th:nth-child(5) {
    background-color: #F2DBDB;
}
tbody tr + tr + tr th:nth-child(2),tbody tr + tr + tr th:nth-child(3),tbody tr + tr + tr th:nth-child(4),tbody tr + tr + tr th:nth-child(5) {
    background-color: #E5B8B7;
}
tbody tr + tr + tr + tr th:nth-child(2),tbody tr + tr + tr + tr th:nth-child(3),tbody tr + tr + tr + tr th:nth-child(4),tbody tr + tr + tr + tr th:nth-child(5) {
    background-color: #F2DBDB;
}
tbody tr + tr + tr + tr + tr th:nth-child(2),tbody tr + tr + tr + tr + tr th:nth-child(3),tbody tr + tr + tr + tr + tr th:nth-child(4),tbody tr + tr + tr + tr + tr th:nth-child(5) {
    background-color: #E5B8B7;
}
