* {
  font-family: Arial;
  font-size: 20px;
  line-height: 40px;
}

p {
  color: green;
  text-align: center;
}

div {
  text-align: justify;
}


.red {
  color: red;
}

.nowrap {
  white-space: nowrap;
}

#special {
  font-style: italic;
  font-weight: bold;
}

.shadow {
  text-shadow: 5px -5px 3px red;
}

.decor {
  text-decoration: line-through;
  text-transform: uppercase;
  text-indent: 50px;
}

.spaced {
  letter-spacing: 30px;
  word-spacing: 50px;
}
