body {
  font-family: Arial, sans-serif;
  font-size: 20px;
}

.center {
  text-align: center;
}

.color {
  color: red;
  font-size: 32px;
}

.underline {
  text-decoration: underline;
}

.strike {
  text-decoration: line-through;
}

.line {
  border: none;
  height: 6px;
  width: 85%;
  background-color: green;
}

#tip {
  text-align: center;
  color: gray;
  font-style: italic;
}
