div {
    background-color: rgb(255, 165, 0);
    width: 500px;
    padding: 20px;
    color: white;
}

h1 {
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 10px;
}

ul {
    list-style-position: inside;
    list-style-type: none;
}

div > ul {
    background-color: rgb(103, 158, 128);
    padding-right: 20px;
}

div > ul > li {
    background-image: url("./img/check_box_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg");
    background-repeat: no-repeat;
    background-position: 20px center;
    background-size: 20px 20px;
    padding-left: 50px;
}

div ul ul {
    font-size: 18px;
    font-style: italic;
    background-color: rgb(153, 180, 102);
    margin-bottom: 10px;
}

div ul ul li {
    background-image: url("./img/check_box_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg"); /* заміни на своє зображення */
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: 20px 20px;
    margin-bottom: 10px;
    padding-left: 40px;
}

span {
    padding: 10px 20px;
    display: inline-block;
}

div > ul > li > span {
    font-size: 20px;
    font-weight: 700;
    background-color: rgb(199, 124, 106);
    margin-bottom: 10px;
}

div ul ul span {
    background-color: rgb(218, 106, 32);
}
