.first-block {
background-color: blue;
  width: 470px;
  height: 50px;
  text-align: center;
  position: absolute;
  left: 650px;
  z-index: 2;
  top: 70px;
}

.second-block {
background-color: lightblue;
  width: 260px;
  height: 200px;
  text-align: center;
  position: absolute;
  z-index: 1;
  left: 600px;
  top: 100px;
  line-height: 180px;
}

.third-block {
background-color: lightblue;
  width: 260px;
  height: 200px;
  text-align: center;
  position: absolute;
  z-index: 1;
  left: 900px;
  top: 100px;
  line-height: 180px;
}

.fourth-block {
background-color: blue;
  width: 470px;
  height: 50px;
  text-align: center;
  position: absolute;
  left: 650px;
  z-index: 2;
  top: 275px;
}
